{% extends 'base.html.twig' %}
{% block body %}
    <div class="col-md-3">
        {% block modulesList %}
        {% endblock %}
    </div>
    <div class="col-md-4">
        {% block moduleDetail %}
        {% endblock %}
    </div>
    <div class="col-md-4">
        {% block review %}
        {% endblock %}
    </div>
{% endblock %}