{% extends 'ReviewBundle:Dashboard:dashboard.html.twig' %}
{% block modulesList %}
    {{ render(controller('ReviewBundle:ModuleList:list')) }}
{% endblock %}
{% block moduleDetail %}
    {{ render(controller(
    'ReviewBundle:ModuleDetail:detail',
    { 'moduleId': moduleId  }
    )) }}
{% endblock %}
{% block review %}
    {% if(moduleId != null) %}
        <h1> Votre avis : </h1>
        {{ render(controller(
        'ReviewBundle:ReviewDisplay:displayOwn',
        { 'moduleId': moduleId  }
        )) }}
    {% endif %}
{% endblock %}