{% if module != null %}
<img class="rounded-circle detail-image" src="http://placehold.it/200x200"/>
<h4> {{ module.subject }} </h4>
<h5> {{ module.teacher }}</h5>
<div> Du : 10/07/07 </div>
<div> Au : 17/07:07 </div>
{% endif %}