<form class="form-horizontal">
    <h4> L'intervenant :</h4>
    <div class="row">
        <label for="teacher_rate" class="col-sm-2 col-form-label">Note : </label>
        <div class="col-sm-10">
            <input type="number" id="teacher_rate" >
        </div>
    </div>
    <label for="teacher_comment"> Commentaire : </label>
    <textarea id="teacher_comment"></textarea>
    <h4> Le cours :  </h4>
    <div class="row">
        <label for="class_rate" class="col-sm-2 col-form-label">Note : </label>
        <div class="col-sm-10">
            <input type="number" id="class_rate" >
        </div>
    </div>
    <label for="class_comment__"> Commentaire : </label>
    <textarea id="class_comment__"></textarea>
</form>