{% use "bootstrap_3_layout.html.twig" %}
{% block form_errors -%}
    {% if errors|length > 0 -%}
            <ul class="list-unstyled alert alert-danger">
                {%- for error in errors -%}
                    <li>
                        <span class="glyphicon glyphicon-exclamation-sign"></span> {{ error.message }}
                    </li>
                {%- endfor -%}
            </ul>
    {%- endif %}
{%- endblock form_errors %}

{% block button_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('btn-default btn-lg btn-block') ~ ' btn')|trim}) %}
    {{- parent() -}}
{%- endblock %}