<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Détail d'un avis</title>
</head>
<body>
<h1>Détail d'un avis</h1>
<article>
    <h3>{{ review.User }}</h3>
    <p>Commentaire <strong>{{  }}</strong></p>
    <p>Note <strong>{{review.rating}}</strong> / 5</p>
    </article>
</body>
</html>