{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
    <h1>{{ block('title') }}</h1>

    {{ form(form) }}

    <div>
        <a class="btn btn-default btn-block btn-lg btn-grey" href="{{ path('admin_modules_index') }}">RETOURNER A LA LISTE</a>
    </div>
{% endblock %}
