{% extends 'base.html.twig' %}
{% block title  %}MODIFIER UN {% block type %}{% endblock %} {% endblock %}
{% block body %}
    <h1>{{ block('title') }} </h1>

    {{ form(edit_form) }}

    <div class="row justify-content-around">
        <div class="col-md-6">
            <a class="btn btn-default btn-lg btn-block btn-grey" href="{% block index_path %}{% endblock %}">RETOURNER A LA LISTE</a>
        </div>
        <div class="col-md-6">
            {{ form(delete_form) }}
        </div>
    </div>
{% endblock %}
