


@font-face {
    font-family: glyphicons;
    src: url(/fonts/aaelio_glyphicons.ttf);
}

body,ul,li
{
    font-family: Questrial,sans-serif;
}
.icon
{
    font-family: "glyphicons",sans-serif;
}

a
{
    color: black;
    text-decoration: none;
}

h1
{
    text-align: center;
}

.module{
    box-shadow: orange 2px 2px;
    padding: 20px 20px;
    list-style: none;
    margin-bottom: 5px;
}
.module div
{
    min-width: 400px;
    display: inline-block;
}

.review-list
{
    margin: 0;
    padding: 0;
}

.label
{
    font-weight: bold;
}


.navbar-light
{
    color: #7F7F7F;
}

.container
{
    width: 100%;
    max-width: 100%;
}

.module-detail,.review-pane
{
    height:100%;
    min-height:100%;

}

.module-detail
{
    text-align: center;
    box-shadow: #00AE9C 2px 2px;
}

.review-pane
{
    box-shadow: #EC4363 2px 2px;
}

.container
{
    margin-top: 10px;
}

.detail-image
{
    margin: 10px;
}

.margin-centered
{
    margin: auto;
}

.review{
    box-shadow: pink 2px 2px;
    padding: 20px 20px;
    list-style: none;
    margin-bottom: 5px;
}